/* Lobby.css */
.lobby-container {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: center;    /* 水平置中 */
  justify-content: center; /* 垂直置中 */
  height: 100vh;          /* 滿高，方便垂直置中 */
  gap: 1.5rem;            /* 元素間距，上下不壅擠 */
  padding: 1rem;          /* 頁面內距 */
  font-size: 2.5vh;
}

.lobby-input {
  width: 50vw;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.lobby-buttons {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  height: 5vh;
}

.lobby-buttons button {
  border: none;
  background-color: chocolate;
  color: white;
  height: 100%;
  padding: 2vw;
  border-radius: 8px;
  font-size: 1.5vh;
}